.privileges-banner {
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px $color-black-russian-3;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 20px;
    list-style-type: none;
  }

  &__title {
    margin: 0 0 4px 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-1;
    letter-spacing: 0.01rem;
  }
}
